{{ define "pages/home" }}
    <div class="flex flex-col w-full items-center">
        <div>Drag and drop an archive file anywhere on the page to load it.</div>
        <div id="entry-list" class="w-1/2 m-4"></div>
    </div>
{{ end }}