{{ define "components/footer" }}
    <div class="flex justify-center text-sm">
        <span>Reverse engineer work by Linblow</span>
        <span>&nbsp;|&nbsp;</span>
        <a href="https://github.com/socom-cc/socom-archive-manager">Source</a>
    </div>
{{ end }}